

@import url('http://fonts.cdnfonts.com/css/gumela');


body {
  margin: 0;
  font-family: 'Poppins', sans-serif, cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Gumela', sans-serif, Consolas, 'Courier New',
    monospace;
}
